<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="templates/style.css" method="post">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Rain Prediction</title>
</head>
<body background="rain.jpg">
    <!-- <b><h1>RAIN PREDICTION</h1></b> -->
    <div class="datas">
        <b><h1>RAIN PREDICTION</h1></b>
        <form action="{{url_for('prediction')}}" method="post">
        <div>
            <label for="data1">Minimum temperature of the day</label>
            <input type="text" name="MinTemp"  placeholder="Min temp" required="required">
        </div>
        <br>
        <div>
            <label for="data2">Maximum temperature of the day</label>
            <input type="text" name="MaxTemp" placeholder="Max temp" required="required">
        </div>
        <br>
        <div>
            <label for="data3">Rainfall rate</label>
            <input type="text" name="Rainfall" placeholder="Rain" required="required">
        </div>
        <br>
           <div>
            <label for="data2">Humidity at 9 AM</label>
            <input type="text" name="Humidity9am" placeholder="Humidity 1" required="required">
           </div><br>
            <div>
            <label for="data2">Humidity at 3 PM</label>
            <input type="text" name="Humidity3pm" placeholder="Humidity 2" required="required">
             </div><br>
            <div>
            <label for="data2">Temperature at 9 AM</label>
            <input type="text" name="Temp9am" placeholder="Temperature 1" required="required">
            </div><br>
            <div>
            <label for="data2">Temperature at 3 PM</label>
            <input type="text" name="Temp3pm"   placeholder="Temperature 2" required="required">
            </div><br>
            <div>
            <label for="data2">Today Rainy or not</label>
            <input type="text" name="RainToday" placeholder="enter 1 if rain or 0 if not" required="required">
             </div><br>
            <div class="result">
            <button type="submit">Predict</button>
            </div>
        </form>
    </div>
    {{prediction_text}}
</body>
</html>
